<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translator Website</title>
  </head>
  <body>
    <h1>Translator Website</h1>
    <form action="/translate" method="POST">
      <label for="input-text">Enter text to translate:</label>
      <br>
      <textarea id="input-text" name="input-text" rows="5" cols="50"></textarea>
      <br><br>
      <br><br>
      <input type="submit" value="Translate">
    </form>
    {% if translated_text %}
    <hr>
    <h2>Translated text:</h2>
    <p>{{ translated_text }}</p>
    {% endif %}
  </body>
</html>





